.pw-home {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    
    @include from(mobile) {
        margin: auto;
    }
    
    .pw-home-logo {
        width: 150px;
        margin: 0 auto;
        display: block;
        
        @include from(mobile) {
            width: 250px;
        }
    }
    
    .pw-horizontal-line {
        height: 3px;
        background: $primary_gray;
        width: 100%;
        margin: $margin * 8 0 $margin * 2;
    }
    
    .pw-home-fields {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: $gutter;
        
        @include from(mobile) {
            grid-template-columns: minmax(150px, 400px) 300px;
        }
    }
    
    .pw-home-selects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $gutter;
    }
}