.pw-requests-columns {
    
    .pw-requests-column {
    }
    
    .pw-request-column-content {
        display: flex;
        overflow-x: auto;
        width: 100%;
    }
    
    .pw-request {
        min-width: 300px;
        padding: 0 $padding * 2 $padding * 3;
        display: flex;
        flex-direction: column;
        
        .pw-form {
            flex-grow: 1;
        }
        
        &:first-child {
            padding-left: 0;
        }
        
        &:last-child {
            padding-right: 0;
        }
        
        .pw-request-top {
            margin-top: auto;
        }
    }
    
    .pw-request-buttons {
        display: grid;
        grid-gap: $gutter;
        grid-auto-flow: column;
    }
}