.pw-form {
    display: flex;
    flex-direction: column;
    
    .pw-form-logo {
        width: 130px;
        margin: 0 auto;
        margin-bottom: $margin * 4;
    }
    
    .pw-form-title {
        margin-bottom: $margin * 4;
        margin-top: 0;
        text-align: center;
    }
    
    .pw-form-label {
        font-size: 0.8rem;
        padding: $padding * 2 0 $padding;
        color: $primary_gray;
    }
    
    .pw-form-item {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: white;
        color: $primary_gray;
        padding: $padding;
        border-radius: 5px;
        border: 2px solid;
        outline: 0;
        margin-bottom: $margin;
        font-size: 0.8rem;
        align-self: stretch;
        
        &:focus {
            color: $primary_dark;
        }
    }
    
    .pw-form-button {
        background: $primary_dark;
        color: white;
        padding: $padding $padding * 6;
        border-radius: 5px;
        font-size: 0.8rem;
        margin-top: $margin * 2;
        outline: 0;
        border: 2px solid $primary_dark;
        
        &:active {
            background: $primary_gray;
        }
    }
    
    .pw-form-message {
        font-size: 0.7rem;
        padding: $padding / 2 0;
        text-align: center;
        max-width: 200px;
        margin: 0 auto;
    }
    
    .pw-form-link {
        text-align: center;
        color: $primary_gray;
        font-size: 0.8rem;
        margin-top: $margin * 4;
    }
    
    .pw-form-center {
        align-self: center;
    }
    
    &.inline {
        flex-direction: row;
        justify-content: center;
        
        .pw-form-item {
            margin-bottom: 0;
        }
        
        .pw-form-button {
            margin-top: 0;
            margin-left: $margin;
        }
    }
}
