$navbar_break: 850px;

.pw-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    margin-bottom: $margin;
    transition: all 0.3s ease;
    z-index: 1000;
    
    .pw-navbar-content{
        display: flex;
        flex-direction: column;
        
        @include from($navbar_break) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    .pw-navbar-toggle {
        padding: $padding $padding * 2;
        cursor: pointer;
        font-size: 1.2rem;
        
        @include from($navbar_break) {
            display: none;
        }
    }
    
    @include from (laptop) {
        .pw-navbar-content {
            width: 80%;
            margin: 0 auto;
        }
    }
    
    @include from(large) {
		.pw-navbar-content {
            width: 60%;
            margin: 0 auto;
        }
	}
    
    .pw-navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .pw-navbar-names {
        display: flex;
        align-items: center;
        padding: $padding;
        
        @include from (laptop) {
            padding-left: 0;
        }
    }
    
    .pw-navbar-logo {
        width: 36px;
    }
    
    .pw-navbar-line {
        width: 1px;
        align-self: stretch;
        background: $primary_dark;
        margin: 0 $margin;
    }
    
    .pw-navbar-title {
        margin: 0;
        color: inherit;
    }
    
    .pw-navbar-items {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        align-self: stretch;
        
        @include from($navbar_break) {
            display: flex !important;
        }
    }
    
    .pw-navbar-item {
        display: flex;
        font-size: 0.8rem;
        border-bottom: 1px solid;
        
        a {
            display: flex;
            align-items: center;
            text-align: center;
            padding: $padding $padding * 5;
            width: 100%;
        }
        
        &.active, &:hover {
            background: $primary_gray;
            color: white;
        }
        
        @include from($navbar_break) {
            
            a {
                padding: 0 $padding * 2;
            }
            
            border-bottom: 0;
        }
    }
    
    .pw-navbar-sign-out {
        
        & .pwi::before {
            display: none;
        }
        
        @include from($navbar_break) {
            & .pwi::before {
                display: inherit;
            }
            font-size: 1.2rem;
        }
        
        span {
            @include from($navbar_break) {
                display: none;
            }
        }
    }
    
    &.pw-navbar_scroll {
        background: $primary_dark;
        color: white;
    }
}