.pw-horizontal-line {
    height: 3px;
    background: $primary_dark;
    width: 100%;
    margin: $margin * 2 0;
}

.pw-blue {
    color: $primary_blue;
}

.pw-green {
    color: #008802;
}

.pw-red {
    color: #f85279;
}