#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.maincontent {
	flex-grow: 1;
	margin: 0 $margin;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@include from(laptop) {
		width: 80%;
		margin: 0 auto;
	}
	
	@include from(large) {
		width: 60%;
		margin: 0 auto;
	}
}
